html,
body{
  height: 100%;
}

body{
  background-color: #fff;
  @extend %rubik-400;
  font-size: 12px;
  line-height: 20px;
  color: $accent;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-2{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
.title{
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #000;
}

.btn{
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: 0;
  @extend %dmsans-700;
  color: $accent;
  font-size: 16px;
  margin-bottom: 75px;
  & + .btn{
    margin-left: 20px;
  }
    .mixitup-control-active{
      color: #000;
    }
}

.breadcrumbs{
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    color: #727272;
    padding-right: 20px;
    position: relative;
    &::after{
      content: "/";
      position: absolute;
      width: 9px;
      height: 10px;
      top: 1px;
      right: 5px;
    }
    &:last-child{
      color: #000;
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}

.pagination{
  &__list{
    display: flex;
    justify-content: center;
  }
  &__list--list{
    display: flex;
    justify-content:start;    
    margin-left: 40px;
   }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
  }
  &__next{
    width: 75px;
  }
  &__link{
    border: 1px solid #a3bbc8;
    color: #000;
    padding: 13px 21px;
    font-size: 16px;
    &--active{
      background-color: #a3bbc8;
      color: #fff;
    }
  }
}

@media (max-width: 450px){
  .title{
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}