%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}
%rubik-700{
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

$title: #1f2044;
$accent: #436372;
$bg: #fef7f0;
$about:#243f4d;

@function max($numbers...) {
  @return m#{a}x(#{numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{numbers});
}

%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%btn{
 border: none;
  background-color: #a3bbc8;
  width: 210px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

%button{
    display: flex;
    color: #436372;
    background-color: transparent;
    padding: 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    max-width: 180px;
    &:hover{
      background: #b3b7b5;
      color: #fff;
    }
    &__link-img{
      padding-left: 45px;
    }
  }

