@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.top{
  background-color: #edf1f4;
  padding: 30px 0 30px;
  &__title{
  @extend %rubik-300;
  margin-bottom: 5px;
  }
}

.clients-modal{
  position: static;
  height: 250px;
  .clients__list{
    height: 250px;
    align-items: center;
  }
}

.modal{
  padding-top: 110px;
  margin: 0 auto 120px;
  max-width: 470px;
  font-size: 14px;
  &__label{
    display: block;
    margin-bottom: 25px;
  }
  &__input{
    display: block;
    width: 100%;
    margin-top: 10px;
    height: 60px;
    border: 2px solid #f6f6f6;
    padding: 0 15px;
  }
  &__btn{
    border: none;
    background-color: #a3bbc8;
    padding: 20px 0;
    width: 100%;
    color: #fff;
    @extend %rubik-500;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  &__label-bottom{
    max-width: 470px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f6f6f6;
  }
  &__link{
    color: $accent;
    margin-left: 185px;
  }

  &__linkregister{
    display: block;
    text-align: center;
    @extend %rubik-400;
    color: #667d89;
    margin-bottom: 20px;
  }
  &__link-create{
    display: block;
    padding: 20px 0;
    border: 2px solid #a3bbc8;
    color: #000;
    font-size: 18px;
    @extend %rubik-500;
    text-align: center;
    transition: all .3s;
    &:hover{
      background-color: #a3bbc8;
      color: #fff;
    }
  }
}

.content{
  padding: 100px 0 45px;
  @extend %rubik-400;
  font-size: 16px;
  color: #243f4d;
  &__title{
    font-size: 24px;
    @extend %rubik-500;
    color: #243f4d;
    margin-bottom: 20px;
  }
  ul.content__list{
    list-style: decimal-leading-zero;
    margin-bottom: 70px;
    padding-left: 30px;
  }
  &__item{
    margin-bottom: 25px;
  }
  &__text{
    margin-bottom: 70px;
  }
}

.years{
  color: $about;
  &__inner{
    margin: 120px 0 115px;
    height: 675px;
    display: flex;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    max-width: 560px;
  }
  &__content-working{
    display: flex;
    margin-bottom: 40px;
  }
  &__working-title{
    font-size: 140px;
    @extend %rubik-700;
    color: #a3bbc8;
    margin-right: 25px;
  }
  &__working-text{
    max-width: 100px;
    font-size: 16px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 40px;
  }
  &__text{
    font-size: 16px;
  }
  &__content-top{
    padding-bottom: 60px;
    border-bottom: 1px solid #e6eaf0;
  }
  &__content-bottom{
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
  }

  &__content-item{
    position: relative;
    &::before{
      position: absolute;
      width: 40px;
      height: 40px;
      left: -50px;
      top: -5px;
      background-repeat: no-repeat;
    }
    &--shape::before{
      content: "";
      background-image: url('../images/icons/shape.svg');
    }
    &--shape::after,
    &--ruport::after{
      content: "";
      position: absolute;
      height: 80px;
      width: 1px;
      background: #e6eaf0;
      top: -10px;
      right: -30px;
    }
    &--ruport::before{
      content: "";
      background-image: url('../images/icons/ruport.svg');
    }
    &--medal::before{
      content: "";
      background-image: url('../images/icons/medal.svg');
    }
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 10px;
  }
}

.filter{
  background-color: #fcd7b6;
  color: #243f4d;
  &__inner{
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 120px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 80px;
      height: 70px;
      background-repeat: no-repeat;
      top: -65px;
      left: 45px;
    }
    &-rate::before{
      content: "";
      background-image: url('../images/icons/rate.svg');
    }
    &-delivery::before{
      content: "";
      background-image: url('../images/icons/delivery.svg');
      top: -55px;
    }
    &-daily::before{
      content: "";
      background-image: url('../images/icons/daily.svg');
    }
    &-brands::before{
      content: "";
      background-image: url('../images/icons/brands.svg');
      left: 30px;
    }
  }
  &__title{
    font-size: 36px;
    @extend %dmsans-700;
    margin: 20px 0 25px;
  }
  &__text{
    font-size: 18px;
    @extend %dmsans-700;
  }
}

.team{
  color: #243f4d;
  &__inner{
    display: flex;
    margin-bottom: 60px;
  }
  &__content{
    max-width: 300px;
    margin-right: 95px;
  }
  &__title{
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 40px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__link{
    display: flex;
    max-width: 170px;
    background-color: #a3bbc8;
    color: #fff;
    padding: 20px 0;
    justify-content: center;
    font-size: 15px;
    &-img{
      margin-left: 20px;
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    margin-bottom: 100px;
    position: relative;
    &-wrapper{
      background-color: #fff;
      position: absolute;
      bottom: -60px;
      max-width: 325px;
      width: 100%;
      height: 110px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }
    &-title{
      font-size: 22px;
      @extend %dmsans-700;
      margin-bottom: 5px;
    }
    &-links{
      display: flex;
    }
    &-link{
      margin-left: 10px;
      height: 40px;
      width: 40px;
      &--instagram{
        background-image: url('../images/icons/instagram.svg');
      }
      &--google{
        background-image: url('../images/icons/google+.svg');
      }
    }
  }
}

.shop{
  padding: 115px 0 120px;
  color: #243f4d;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .products-top{
      &__wrapper{
        margin-left: 55px;
      }
      &__item{
          &--link{
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        padding: 15px 50px;
        background-color: #a3bbc8;
        border-radius: 5px;
        color: #fff;
       }
      }
      &__item--list{
      margin-bottom: 40px;
      background-color: transparent;
      box-shadow: none;
      height: 500px;
      margin-right: 0;
      padding: 0;
      }
      &__img--list{
        height: 500px;
        width: 370px;
        object-fit: contain;
        border: 1px solid #f2f2f2;
        padding: 70px 20px 80px 25px;
      }
      &__fon--list{
        display: none;
      }
      &__title--list{
        font-size: 40px;
        margin-bottom: 25px;
      }
      &__money--list{
        margin: 35px 0;
        display: block;
        font-size: 30px;
      }
      &__text{
        max-width: 340px;
        margin-bottom: 35px;
      }
    }
  }
  .shop-content__inner--list{
    margin-bottom: 35px;
  }
  .filters{
    min-width: 270px;
    margin-right: 30px;
  }
  .filter__item{
    text-align: left;
    margin-bottom: 60px;
  }
}
.filter__title{
  @extend %dmsans-700;
  font-size: 18px;
  position: relative;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
  &::after{
    content: "";
    position: absolute;
    margin-left: 15px;
    height: 3px;
    width: 40px;
    background-color: #a3bbc8;
    top: 8px;
  }
}
.irs--flat .irs-min, .irs--flat .irs-max{
  display: none;
}
.irs--flat .irs-line {
    top: 13px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: 0;
}
.irs--flat .irs-bar {
    top: 12px;
    height: 4px;
    background-color: #a3bbc8;
}
.irs--flat .irs-handle {
    top: 7px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  display: none;
}
.filter-price__box{
  display: flex;
  justify-content: space-between;
}

.filter-brand{
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
      height: 40px;
      border-radius: 5px;
      .filter-brand__number{
        color: #243f4d;
      }
    }
  }
  &__checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 16px;
  }
  &__number{
    color: #b3b3b3;
  }
}
.filter-recent{
  &__item{
    height: 70px;
    display: flex;
    margin-bottom: 20px;
  }
  &__title{
    color: #243f4d;
  }
  &__box{
    height: 70px;
    width: 70px;
    border: 1px solid #f2f2f2;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }
  &__pendant{
    background-image: url('../images/products/products-bottom/3.png');
  }
  &__lamp{
    background-image: url('../images/products/products-bottom/1.png');
  }
  &__mallesuda{
    background-image: url('../images/products/products-bottom/2.png');
  }
  &__content{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }
}
.jq-ry-container{
  padding: 0;
}

.shop-content{
  &__inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 110px;
  }
}

.filter-category{
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
      height: 40px;
      border-radius: 5px;
    }
  }
   &__checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 16px;
    position: relative;
  }
  &__text::after{
    content: '';
    position: absolute;
    background-image: url('../images/icons/angle-rigth.svg');
    background-repeat: no-repeat;
    height: 10px;
    width: 5px;
    top: 15px;
    right: 20px;
  }
}
.product-page{
  padding: 120px 0;
}
.product-one{
  color: #333333;
  margin-bottom: 80px;
  &__inner{
    display: flex;
  }
  &__slide{
    width: 550px;
    margin-right: 65px;
  }
  &__content{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    font-size: 40px;
    margin-bottom: 25px;
  }
  &__price{
    margin: 35px 0;
    font-size: 30px;
  }
  &__text{
    width: 535px;
    font-size: 16px;
    margin-bottom: 30px;
    color: #243f4d;
  }
  &__form{
    margin-bottom: 60px;
  }
  &__item{
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 10px;
  }
  &__btn{
    @extend %btn;
    margin-left: 15px;
    transform: translateY(2px);
  }
}

.product-slide{
  display: flex;
  .slick-vertical .slick-slide {
    height: 160px;
    margin-bottom: 25px;
    width: 140px;
}
  &__thumb{
    width: 140px;
    margin-right: 25px;
  }
  &__thumb-item{
    width: 140px;
    margin-bottom: 25px;
    border: 1px solid #f2f2f2;
    img{
      padding: 10px;
      width: 140px;
      height: 160px;
      object-fit: contain;
    }
  }
  &__big{
    width: 390px;
  }
  &__big-item{
    width: 390px;
    border: 1px solid #f2f2f2;
    img{
      padding: 60px;
      width: 390px;
      height: 530px;
    }
  }
}

.jq-number__field{
  border: 1px solid #a3bbc8;
  width: 150px;
  transform: translateY(1px);
  text-align: center;
  display: inline-block;
}

.jq-number__field input {
    width: 100%;
    height: 50px;
    width: 114px;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    color: $title;
}
.jq-number{
  padding: 0;
  position: relative;
  display: inline;
}
.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.jq-number__spin.plus{
  right: 0;
  height: 50px;
  width: 50px;
  border-left: 1px solid #a3bbc8;
}
.jq-number__spin.minus{
  left: 0;
  height: 50px;
  width: 50px;
  border-right: 1px solid #a3bbc8;
}
.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 18px;
  background-color: $title;
  width: 12px;
  height: 1px;
}
.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: 19px;
  left: 24px;
  background-color: $title;
  width: 1px;
  height: 12px;
}

.product-tabs{
  margin-bottom: 125px;
  &__top{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
  &__top-item{
    margin-left: 12px;
    width: 240px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %rubik-500;
    color: $title;
    &--active{
      color: #fff;
      background-color: #a3bbc8;
    }
  }
  &__content-item{
    font-size: 16px;
    color: $title;
    display: none;
    &--active{
      display: block;
    }
  }
}

.product-list{
  &__title{
    font-size: 36px;
    color: #243f4d;
    margin-bottom: 65px;
  }
  .products-top__item{
    width: 270px !important;
    display: flex !important;
    border-radius: 10px;
    margin: 30px 10px;
    position: relative;
  }
  .product-top__box{
    position: absolute;
    bottom: 50px;
  }
}
.slick-arrow{
  border: 1px solid#edf1f4;
  border-radius: 5px;
  background-color: transparent;
  font-size: 0;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  outline: none;
  background-position: center center;
  position: absolute;
  top: -95px;
  right: 0;
  &:active{
    border: 1px solid#a3bbc8;
  }
}
.slick-prev{
 background-image: url('../images/icons/slider-arrow-rigth.svg');
 transform: rotate(180deg);
 right: 70px;
}
.slick-next{
 background-image: url('../images/icons/slider-arrow-rigth.svg');
}


.blog{
  &__inner{
    padding: 120px 0 70px;
    display: flex;
  }
  &__content{
    margin-right: 65px;
  }
  &__aside{
    width: 270px;
  }
  &__item{
    width: 830px;
    margin-bottom: 50px;
  }
  &__item-img--box{
    position: relative;
  }
  &__item-box{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 270px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 12px;
    bottom: 0;
  }
  &__item-date{
    margin-right: 25px;
    position: relative;
    margin-left: 20px;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/calendar.svg');
      background-position: center center;
      background-size: cover;
      width: 15px;
      height: 15px;
      left: -20px;
    }
  }
  &__item-admin{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/user.svg');
      width: 15px;
      height: 15px;
      background-position: center center;
      left: -20px;
      background-size: cover;
    }
  }
  &__item-title{
    margin: 40px 0 30px;
    font-size: 36px;
    @extend %rubik-400;
    color: $title;
    display: block;
  }
  &__item-text{
    font-size: 16px;
    margin-bottom: 40px;
  }
  &__item-link{
    @extend %button;
    border-radius: 0;
    color: #a3bbc8;
  }
  .pagination__list{
    justify-content: start;
    margin-left: -10px;
    margin-bottom: 120px;
  }
}

.filter-search{
  margin-bottom: 60px;
  &__form{
    display: flex;
    position: relative;
  }
  &__input{
    width: 270px;
    height: 42px;
    border: 2px solid #edf1f4;
    border-radius: 5px;
    outline: none;
    padding: 0 60px 0 10px;
  }
  &__btn{
    height: 42px;
    width: 47px;
    border: none;
    border-radius: 5px;
    background-color: #edf1f4;
    position: absolute;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.filter__item-category{
  margin-bottom: 45px;
}

.blog-filter{
  &__item{
    display: flex;
    margin-bottom: 20px;
  }
  &__img{
    min-width: 70px;
    margin-right: 20px;
    img{
      min-width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }
  &__title{
    font-size: 14px;
    color: $title;
    margin-bottom: 10px;
    display: block;
  }
  &__text{
    color: #c9c9c9;
    position: relative;
    padding-left: 20px;
    &::before{
      content: "";
      position: absolute;
      width: 13px;
      height: 15px;
      background-image: url('../images/icons/calendar-gray.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      left: 0;
    }
  }
}
.blog-one__item-text{
  padding-bottom: 60px;
  border-bottom: 1px solid #ebebeb;
 h2{
    font-size: 36px;
    color: $title;
    margin-bottom: 25px;
    @extend %rubik-400;
  }
  h5{
    @extend %rubik-500;
    color: $title;
    margin-bottom: 25px;
    font-size: 16px;
  }
  p{
    margin-bottom: 40px;
    font-size: 16px;
  }
  blockquote{
    margin-bottom: 40px;
    background-color: #edf1f4;
    border-left: 6px solid #a3bbc8;
    padding: 20px 30px 0px;
    font-size: 16px;
    .blog__item-author{
      display: block;
      padding: 20px 0 20px 40px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        height: 3px;
        width: 20px;
        background-color: #a3bbc8;
        left: 0;
        top: 29px;
      }
    }
  }
  img{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    object-fit: cover;
    width: 325px;
    height: 210px;
  }
  h4{
    margin-bottom: 25px;
    color: $title;
    font-size: 18px;
    @extend %rubik-500;
    padding-top: 40px;
  }
}

.blog-box{
  margin-bottom: 60px;
  padding: 25px 0;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__author{
    display: flex;
  }
  &__author-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-right: 27px;
  }
  &__author-title{
    font-size: 18px;
    @extend %rubik-500;
    color: $title;
    margin-bottom: 15px;
  }
  &__author-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__tags,{
    margin-bottom: 10px;
    span{
      color: $title;
      font-size: 16px;
      margin-right: 20px;
    }
  }
  &__share{
    span{
      color: $title;
      font-size: 16px;
    }
  }
  &__tags-link{
    color: $accent;
  }
  &__share-link{
    margin-left: 10px;
    path{
      transition: all .3s;
      fill: $accent;
      &:hover{
        fill: #a3bbc8;
      }
    }
  }
}

.comments{
  padding-bottom: 80px;
  &__title{
    @extend %rubik-700;
    font-size: 24px;
    color: $title;
    margin-bottom: 55px;
  }
  &__item-reply{
    width: 700px;
    margin-left: auto;
    border-bottom: 1px solid #e0e0e0;
    .comments__item-wrapper{
      border-bottom: none;
    }
  }
  &__item{
    display: flex;
    margin-bottom: 30px;
  }
  &__item-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__item-wrapper{
    padding-bottom: 25px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__item-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__item-title{
    @extend %rubik-700;
    font-size: 16px;
    color: $title;
  }
  &__item-text{
    font-size: 16px;
    margin-bottom: 25px;
  }
  &__item-link{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $accent;
    &--img{
      padding-left: 5px;
    }
  }
  &__form-title{
    font-size: 24px;
    @extend %rubik-700;
    color: $title;
    margin-bottom: 45px;
  }
  &__form-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__form-input{
    font-size: 16px;
    outline: none;
    width: 400px;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #e5e5e5;
    &:focus{
      border: 1px solid #a3bbc8;
      background-image: none;
    }
    &::placeholder{
      color: #999999;
    }
  }
  &__form-textarea{
    font-size: 16px;
    outline: none;
    width: 100%;
    height: 120px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    resize: none;
    margin-bottom: 40px;
    &:focus{
      border: 1px solid #a3bbc8;
      background-image: none;
    }
    &::placeholder{
      color: #999999;
    }
  }
  &__form-input--user{
    background: url(../images/icons/user-form.svg) no-repeat 365px 16px;
  }
  &__form-input--email{
    background: url(../images/icons/email-form.svg) no-repeat 360px 18px;
  }
  &__form-textarea--message{
    background: url(../images/icons/message-form.svg) no-repeat 795px 16px;
  }
  &__form-btn{
    @extend %btn;
    border-radius: 0;
  }
}

.contact{
  padding: 120px 0;
}
.contact-top{
  margin-bottom: 120px;
  &__box{
    text-align: center;
  }
  &__subtitle{
    font-size: 16px;
  }
  &__title{
    font-size: 35px;
    @extend %dmsans-700;
    line-height: 55px;
    color: $title;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 370px;
    height: 380px;
    background-color: #fbfbfb;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    path{
      fill: #a3bbc8;
    }
    &:hover{
      border: 1px solid #a3bbc8;
      .contact-top__item-box{
        background-color: #a3bbc8;
        path{
        fill: #fff;
      }
      }
    }
  }
  &__item-box{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 55px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  } 
  &__item-link{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-title{
    font-size: 20px;
    @extend %dmsans-700;
    margin-bottom: 25px;
    color: $title;
  }
  &__item-text{
    font-size: 16px;
  }
}
.contact-bottom{
  display: flex;
  .comments__form{
    min-width: 620px;
    margin-right: 50px;
  }
  .comments__form-input{
    width: 300px;
    border: none;
    background-color: #fafafa;
    padding-right: 30px;
  }
  .comments__form-textarea{
    border: none;
    padding-right: 30px;
  }
  .comments__form-input--user{
    background: #fafafa url(../images/icons/user-form.svg) no-repeat 270px 17px;
  }
  .comments__form-input--email{
    background: #fafafa url(../images/icons/email-form.svg) no-repeat 270px 18px;
  }
  .comments__form-textarea--message{
    background:#fafafa url(../images/icons/message-form.svg) no-repeat 590px 16px;
  }
  #map{
    width: 500px;
    height: 335px;
  }
}








@import 'media';

