.header__inner{
  display: flex;
  justify-content: space-between;
  padding: 50px 0 55px;
  align-items: center;
  flex-wrap: wrap;
}

.menu{
  &__list{
    display: flex;
    @extend %rubik-500;
    font-size: 15px;
    &-item + .menu__list-item{
      margin-left: 30px;
    }
    &-link{
      color:$accent;
    }
  }
  &__btn{
    display: none;
  }
}
.user__nav{
  display: flex;
  align-items: center;
  position: relative; 
  &-link{
    padding: 0 25px;
    position: relative;
  }
  &-link--line{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      height: 31px;
      width: 1px;
      background-color: #fde7d3;
      top: -6px;
      right: -7px;
    }
  }
  &-wrapper{
    display: flex;
    margin: 0 25px;
    @extend %dmsans-400;
  } 
  &-wrapper::before{
    position: absolute;
    content: '';
    background-color: #fcd7b6;
    width: 140px;
    height: 50px;
    border-radius: 100px;
    top: -14px;
    color: #fde7d3;
    text-align: center;
  }
  &-num{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: -8px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    right: 16px;
    color: black;
  }
  &-search::before{
    z-index: -1;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    top: -16px;
    left: 8px;
  }
  &-burger::before{
    z-index: -1;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
    right: 10px;
    top: -14px;
  }
}

@media (max-width: 980px){
  .menu{
    order: 1;
    margin-left: 20px;
   &__list{
     position: absolute;
     top: 100px;
     width: 100%;
     left: 0;
     flex-direction: column;
     align-items: center;
     transform: translateY(-200%);
     transition: all .3s;
     background-color: #fff;
     z-index: 5;
      &-item + .menu__list-item{
      margin-left: 0;
      margin-top: 15px;
    }
    }
    &__list-item:hover{
      a{
        color: red;
      }
    }
    &__list--active{
      transform: translateY(0);
    }
    &__btn{
     width: 30px;
     height: 22px;
     border: none;
     background-color: transparent;
     display: flex;
     align-items: center;
     position: relative;
     padding: 0;
     span{
       height: 3px;
       width: 100%;
       background-color: #000;
     }
     &::before,
     &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #000;
     }
     &::before{
       top: 0;
     }
     &::after{
       bottom: 0;
     }
    }
  }
  .user__nav{
    margin-left: auto;
  }
}

@media (max-width: 570px){
  .menu{
    order: 0;
  }
  .user__nav{
    width: 100%;
    margin-top: 30px;
    justify-content: flex-end;
  }
 
}
@media (max-width: 360px){
   .user__nav-wrapper{
    margin: 0;
  }
}