<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/shop2.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main class="main">

    <section class="top">
      <h2 class="top__title title">Product list 2</h2>
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Home
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Product list 2
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="shop">
      <div class="container">
        <div class="shop__inner">
        <button class = 'shop__filters-btn'>
          </button>
          <div class="shop-filters filters">
            <div class="filter-category filter__item">
              <h3 class="filter__title">CATEGORY</h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Chair</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Table</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Lamp</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Watch</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">Clock</span>
                  </div>
                </label>
              </form>
            </div>
            <div class="filter-price filter__item">
              <h3 class="filter__title">PRICE</h3>
              <form class="filter-price__form" action="#">
                <input class="filter-price__input" type="text" data-min="0" data-max="1000" data-from="100"
                  data-to="500">
                <div class="filter-price__box">
                  <div class="filter-price-box-from">
                    $<span class="filter-price__from"></span>
                  </div>
                  <div class="filter-price-box-to">
                    $<span class="filter-price__to"></span>
                  </div>
                </div>
              </form>
            </div>

            <div class="filter-brand filter__item">
              <h3 class="filter__title">Brand</h3>
              <form class="filter-brand__form" action="#">
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span>RFL</span>
                    <span class="filter-brand__number">(10)</span>
                  </div>
                </label>
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span>Brothers</span>
                    <span class="filter-brand__number">(21)</span>
                  </div>
                </label>
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span>Regal</span>
                    <span class="filter-brand__number">(3)</span>
                  </div>
                </label>
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span>Nadia</span>
                    <span class="filter-brand__number">(14)</span>
                  </div>
                </label>
                <label class="filter-brand__label">
                  <input class="filter-brand__input" type="checkbox">
                  <div class="filter-brand__checkbox">
                    <span>Otobi</span>
                    <span class="filter-brand__number">(6)</span>
                  </div>
                </label>
              </form>
            </div>

            <div class="filter-recent filter__item">
              <h3 class="filter__title">Recent products</h3>
              <div class="filter-recent__item">
                <a class="filter-recent__box filter-recent__pendant" href="#"></a>
                <div class="filter-recent__content">
                  <a class="filter-recent__title" href="#">Pendant lamp</a>
                  <div class="star" data-rateyo-rating="4"></div>
                  <div class="filter-recent__price">23$</div>
                </div>
              </div>
              <div class="filter-recent__item">
                <a class="filter-recent__box filter-recent__lamp" href="#"></a>
                <div class="filter-recent__content">
                  <a class="filter-recent__title" href="#">Pendant lamp</a>
                  <div class="star" data-rateyo-rating="4"></div>
                  <div class="filter-recent__price">23$</div>
                </div>
              </div>
              <div class="filter-recent__item">
                <a class="filter-recent__box filter-recent__mallesuda" href="#"></a>
                <div class="filter-recent__content">
                  <a class="filter-recent__title" href="#">Pendant lamp</a>
                  <div class="star" data-rateyo-rating="4"></div>
                  <div class="filter-recent__price">23$</div>
                </div>
              </div>
            </div>
          </div>
          <div class="shop-content">
            <div class="shop-content__inner shop-content__inner--list">
              <div class="products-top__item products-top__item--list">
                <img class="products-top__img products-top__img--list" src="images/products/1.jpg" alt="products-images">
                <div class="products-top__wrapper">
                  <h5 class="products-top__title products-top__title--list">Wooden radio</h5>
                  <div class="star-item" data-rateyo-rating="4"></div>
                  <span class="products-top__money products-top__money--list">23$</span>
                  <p class="products-top__text">
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation
                  </p>
                  <a class="products-top__item--link" href="#">
                    add to card
                  </a>
                </div>
              </div>
              <div class="products-top__item products-top__item--list">
                <img class="products-top__img products-top__img--list" src="images/products/2.jpg" alt="products-images">
                <div class="products-top__wrapper">
                  <h5 class="products-top__title products-top__title--list">Wooden chair</h5>
                  <div class="star-item" data-rateyo-rating="4"></div>
                  <span class="products-top__money products-top__money--list">23$</span>
                  <p class="products-top__text">
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation
                  </p>
                  <div class="products-top__item--box">
                    <a class="products-top__item--link" href="#">
                      add to card
                    </a>
                  </div>
                </div>
              </div>
              <div class="products-top__item products-top__item--list">
                <img class="products-top__img products-top__img--list" src="images/products/3.jpg" alt="products-images">
                <div class="products-top__wrapper">
                  <h5 class="products-top__title products-top__title--list">Wooden lamp</h5>
                  <div class="star-item" data-rateyo-rating="4"></div>
                  <span class="products-top__money products-top__money--list">23$</span>
                  <p class="products-top__text">
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation
                  </p>
                  <a class="products-top__item--link" href="#">
                    add to card
                  </a>
                </div>
              </div>
              <div class="products-top__item products-top__item--list">
                <img class="products-top__img products-top__img--list" src="images/products/4.jpg" alt="products-images">
                <div class="products-top__wrapper">
                  <h5 class="products-top__title products-top__title--list">Wooden table</h5>
                  <div class="star-item" data-rateyo-rating="4"></div>
                  <span class="products-top__money products-top__money--list">23$</span>
                  <p class="products-top__text">
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation
                  </p>
                  <a class="products-top__item--link" href="#">
                    add to card
                  </a>
                </div>
              </div>
            </div>

            <div class="pagination">
              <ul class="pagination__list pagination__list--list">
                <li class="pagination__item">
                  <span class="pagination__link pagination__link--active" href="#">1</span>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
                </li>
                <li class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
                </li>
                <li class="pagination__item pagination__next">
                  <a class="pagination__link" href="#">NEXT</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>