.top-slider{
  &__inner{
    background-image: url('../images/slider/bg-slider.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__item{
    display: flex !important;
  }
  &__img{
    margin-top: 270px;
    max-width: 650px;
    max-height: 280px;
  }

  &__title{
    color: #243f4d;
    max-width: 410px;
    font-size: 72px;
    line-height: 66px;
    margin: 220px 115px 40px 300px;
  }
  &__text{
    font-size: 18px;
    max-width: 370px;
    margin: 0 40px 35px 300px;
  }
  &__link{
    display: flex;
    color: #fff;
    background-color: #a3bbc8;
    padding: 20px 15px 20px 25px;
    max-width: 200px;
    margin: 0 0 200px 300px;
  }
  &__btn-img{
    margin-left: 55px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    button{
      border: none;
      padding: 0;
      width: 30px;
      height: 30px;
      background-color: #fde3cc;
      border-radius: 50px;
      margin-right: 10px;
    }
    .slick-active{
      button{
        transition: all 0.3s;
        background-color: #fff;
      }
    }
  }
}

.slider-bottom{
  &__items{
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    background-color: $bg;
    margin-bottom: 70px;
  }
  &__item{
    padding-top: 40px;
  }
  &__center{
    border-left: 1px solid #e8e4df;
    border-right: 1px solid #e8e4df;
    padding: 40px 150px 0 240px;
  }
  &__title{
    font-size: 18px;
    @extend %dmsans-700;
    margin-bottom: 10px;
    position: relative;
    &-support::before{
      content: '';
      background-image: url(../images/decor/support.svg);
      background-repeat: no-repeat;
      width: 54px;
      height: 54px;
      position: absolute;
      left: -65px;
      top: 5px;
    }
    &-delivery::before{
      content: '';
      background-image: url(../images/decor/delivery.svg);
      background-repeat: no-repeat;
      width: 54px;
      height: 54px;
      position: absolute;
      left: -65px;
      top: 5px;
    }
    &-secure::before{
      content: '';
      background-image: url(../images/decor/secure.svg);
      background-repeat: no-repeat;
      width: 54px;
      height: 54px;
      position: absolute;
      left: -65px;
      top: 5px;
    }
  }
  &__text{
    @extend %dmsans-400;
    font-size: 16px;
  }
}

@media (max-width:1350px){
  .top-slider{
    &__title{
      margin: 120px 60px 30px 50px;
    }
    &__text{
      margin: 0 40px 35px 50px;
    }
    &__link{
      margin: 0 40px 35px 50px;
    }
    &__img {
      margin-top: 150px;
      max-width: 530px;
    }
  }
  .slider-bottom{
    &__center{
      border: none;
    }
  }
}

@media (max-width: 1050px){
  .top-slider{
    padding-bottom: 50px;
    .top-slider__img{
      display: none;
    }
  }
  .slider-bottom{
    display: none;
  }
}
@media (max-width: 450px){
  .top-slider{
    &__title{
      margin: 40px 30px 20px;
      font-size: 50px;
      line-height: 50px;
    }
    &__text{
      margin: 0 30px 35px;
    }
    &__link{
      margin: 0 30px 40px;
    }
  }
}
