.video-inner{
  background-image: url('../images/bg-video.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}

@media (max-width: 700px){
  .video-inner{
    height: 300px;
    margin-bottom: 50px;
  }
}
